
body{
  background-color: #F1F1F1 !important;
}

h1{
   text-align:center;
}

.poster_mini{
  width:55px;  
}

.poster_mini img{
  width:100%
}

#wrapper{
 width:90%;
 margin:45px auto;
}

#wrapper_products{
  float:left;
  width:66%;
  margin-right:2%;
  border:1px #CCC solid;
  padding:25px;
  margin-bottom:45px;
  background-color: white;
  border-radius:5px;
}

#wrapper_send_info{
  float:left;
  width:32%;
  border:1px #CCC solid;
  padding:25px;
  background-color: white;
  border-radius:5px;
  margin-bottom:45px;
}

h1, h2{
  margin-bottom:30px !important;
  margin-top:0px !important;
}

#wrapper_send_data input[type="text"]{
  border: 1px #CCC solid;
  padding:5px;
  margin-left:5px;
  width:100%;
}

#wrapper_send_info label{
  width:65%;
}

#wrapper_send_info input{ 
  text-align:left;
  width:20%;
}

#wrapper_send_info select{
   text-align:left;
   width:30%;
   border: 1px #CCC solid;
}

#wrapper_send_info input[type="number"]{
  border: 1px #CCC solid;
  padding:5px;
}

#wrapper_send_info select option{
   padding:5px;
}

#wrapper_send_info div, #wrapper_send_data div{
  margin-bottom:15px;
}

#wrapper_send_cost {
  float:left;
  width:45%;
}

#wrapper_send_data{
  width:50%;
  border:1px #CCC solid;
  padding:25px;
  background-color: white;
  border-radius:5px;
  margin:0 auto;
}

table{
  width:100%;
}

table, td, th{
   border: 1px solid #CCC;
}

th{
  text-align:center !important;
  background-color: #DDD;
  border-spacing: 0px !important;
}

td, th {
  padding: 20px !important;
}


#checkout{
  width:100px !important;
  padding: 15px 0 !important;
  color: #FFF;
  background-color: #F1826A;
  border:none !important;
  margin-top:25px;
  float:right;
  text-align:center !important;
}

.product_quantity{
  width:35px;
  border:1px #999 solid;
  text-align:right;
  padding:4px 1px 4px 5px;
}



