@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: "copasetic_nfregular";
    src: url("type/copasetic.regular-webfont.eot");
    src: url("type/copasetic.regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("type/copasetic.regular-webfont.woff") format("woff"),
         url("type/copasetic.regular-webfont.ttf") format("truetype"),
         url("type/copasetic.regular-webfont.svg#copasetic_nfregular") format("svg");
    font-weight: normal;
    font-style: normal;

}
body {
	background:#fffff;
		font-family:verdana;
}
.aceptar{
	position:absolute;
	display:inherit;
	top:100px;
	right:4%;
	}
H1 { 
	font-size: 60px;
	color:#F1826A;
	font-family:"copasetic_nfregular";
	margin-left:5%;
	padding-top:35px;
	line-height:1px;
 }
 
 p { 
	font-size: 20px;
	margin-left:5%;
	padding-botton:35px;
	line-height:1px;
 }
input[type='submit'], input[type='button']
{
    text-decoration:none;
	border:hidden;
	font-size:10px;
    font-family:arial;
    color:#FFF;
	padding:10px;
	padding-left:15px;
	padding-right:15px;
    background: #F1826A;
	cursor: pointer;
	margin-top:10px;
	margin-left:5%;
}
input[type='submitpromo']
{
    text-decoration:none;
	border:hidden;
	font-size:10px;
    font-family:arial;
    color:#FFF;
	padding:10px;
	padding-left:15px;
	padding-right:15px;
    background: #F1826A;
	cursor: pointer;
	margin-top:-40px;
	margin-left:500px;
}

	#tablapromo {
		width:400px;
		height:50px;
		font-size:12px;
		}
	.tabla {
		background: #EAEAEA;
		margin-left:5%;
		opacity:50;
		border-collapse:collapse;

		}
		
	.tabla1{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size:15px;
	
						}
				
		#textop{
						}	
		textarea{
			font-family:Arial, Helvetica, sans-serif;
			font-size:10px;
			width:230px;
			height:80px;					
}	
						
		#stock{
			font-family:Arial, Helvetica, sans-serif;
			font-size:10px;
			width:130px;					
						}		
			#precio{
			font-family:Arial, Helvetica, sans-serif;
			font-size:11px;
			width:80px;					
						}	
			.preciod {
			font-family:Arial, Helvetica, sans-serif;
			font-size:11px;
			width:35px;					
						}	
			.usd {
			font-family:Arial, Helvetica, sans-serif;
			font-size:11px;
			width:25px;					
						}	
			.gris {
				background:#DBDBDB;
									}	
									#costo{
			font-family:Arial, Helvetica, sans-serif;
			font-size:11px;
			width:80px;					
						}				
		#poster{
			font-family:Arial, Helvetica, sans-serif;
			font-size:10px;
			width:300px;					
			font-weight: bold;
						}